#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: var(--black);

    .header {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;

        .header_left {
            width: 100%;
            max-width: 260px;
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;

            .header_logo {
                .logo_link {
                    font-size: 2rem;
                    font-weight: 600;
                    font-family: var(--mainEng-font);
                    letter-spacing: -1px;
                    color: var(--white);

                    span {
                        padding-right: 2px;

                        svg {
                            vertical-align: text-top;
                            font-size: 2.4rem;
                            fill: #e93333;
                        }
                    }
                }
            }
            .header_menu_btn {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius: 50px;

                &:hover {
                    border: 1px solid var(--black400);
                    background-color: var(--black200);
                }

                .btn_bar {
                    width: 18px;
                    height: 1px;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    background-color: var(--white);

                    &::after, &::before {
                        content: "";
                        width: 100%;
                        height: 1px;
                        display: block;
                        position: absolute;
                        background-color: var(--white);
                    }
                    &::after {
                        top: 5px;
                        left: 0;
                    }
                    &::before {
                        bottom: 5px;
                        right: 0;
                    }      
                }
            }
        }
        .header_center {
            width: 100%;
            height: 100%;
        }
        .header_right {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;

            .right_items {
                position: relative;
                margin-left: 20px;

                &.alarm {
                    width: 36px;
                    text-align: center;
                    border-radius: 50px;
                    cursor: pointer;
    
                    &:hover {
                        border: 1px solid var(--black400);
                        background-color: var(--black200);
                    }
                    span {
                        font-size: 2.4rem;
                    }
                    &:hover::after {
                        width: 25px;
                        content: "알림";
                        position: absolute;
                        top: 50px;
                        right: -5px;
                        padding: 12px 10px;
                        border-radius: 5px;
                        font-size: 1.2rem;
                        color: var(--white);
                        background-color: var(--black200);
                    }
                }
                &.profile {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 50px;
                    background-color: #e93333;
                    cursor: pointer;
    
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}