#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: var(--bgColor);

    .header {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .header_left {
            width: 100%;
            max-width: 260px;
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;

            .header_logo {
                .logo_link {
                    font-size: 2rem;
                    font-weight: 600;
                    font-family: var(--mainEng-font);
                    letter-spacing: -1px;
                    color: var(--white);

                    span {
                        padding-right: 2px;

                        svg {
                            vertical-align: text-top;
                            font-size: 2.4rem;
                            fill: #e93333;
                        }
                    }
                }
            }
            .header_menu_btn {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius: 50px;

                &:hover {
                    background-color: var(--black200);
                }

                .btn_bar {
                    width: 18px;
                    height: 1px;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    background-color: var(--white);

                    &::after,
                    &::before {
                        content: "";
                        width: 100%;
                        height: 1px;
                        display: block;
                        position: absolute;
                        background-color: var(--white);
                    }
                    &::after {
                        top: 5px;
                        left: 0;
                    }
                    &::before {
                        bottom: 5px;
                        right: 0;
                    }
                }
            }
        }
        .header_center {
            width: 100%;
            height: 100%;

            @include mobile {
                display: none;
            }
            @include s_mobile {
                display: none;
            }

            .header_pc_search {
                width: 100%;
                height: 100%;

                .search_inner {
                    width: 100%;
                    height: 100%;

                    .search_form {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .search_input_box {
                            width: 630px;
                            position: relative;

                            @include labtop {
                                width: 70%;
                            }
                            @include tablet {
                                width: 90%;
                            }

                            .search_input {
                                width: 100%;
                                padding: 10px 20px;
                                border-radius: 30px;
                                border: 1px solid var(--black300);
                                outline: 0 none;
                                font-size: 1.6rem;
                                color: var(--white);
                                background-color: #111;
                            }
                            .search_btn {
                                position: absolute;
                                top: 50%;
                                right: 0;
                                padding: 7px 20px 7px 25px;
                                transform: translateY(-50%);
                                border-radius: 0 30px 30px 0;
                                border: 1px solid var(--black300);
                                font-size: 2rem;
                                color: var(--white);
                                background-color: var(--black100);
                                cursor: pointer;
                            }
                            &:hover::after {
                                content: "검색";
                                position: absolute;
                                top: 53px;
                                right: 16px;
                                padding: 10px;
                                border-radius: 5px;
                                font-size: 1.2rem;
                                color: var(--white);
                                background-color: var(--black200);
                            }
                        }
                    }
                }
            }
        }
        .header_right {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;

            .right_items {
                position: relative;
                margin-left: 20px;

                @include s_mobile {
                    margin-left: 10px;
                }

                &.search {
                    width: 36px;
                    height: 36px;
                    display: none;

                    .search_btn {
                        width: 100%;
                        height: 100%;
                        border-radius: 50px;
                        color: var(--white);
                        background-color: transparent;
                        cursor: pointer;

                        svg {
                            font-size: 2rem;
                        }

                        &:hover {
                            background-color: var(--black200);
                        }
                    }

                    @include mobile {
                        display: block;
                    }
                    @include s_mobile {
                        display: block;
                    }
                }

                &.alarm {
                    width: 36px;
                    text-align: center;
                    border-radius: 50px;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--black200);
                    }
                    span {
                        font-size: 2.4rem;
                    }
                    &:hover::after {
                        width: 25px;
                        content: "알림";
                        position: absolute;
                        top: 50px;
                        right: -5px;
                        padding: 12px 10px;
                        border-radius: 5px;
                        font-size: 1.2rem;
                        color: var(--white);
                        background-color: var(--black200);
                    }
                }
                &.profile {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 50px;
                    background-color: #e93333;
                    cursor: pointer;

                    p {
                        text-align: center;
                    }
                }
            }
        }
        .header_moblie_search {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #111;
            display: none;

            .header_moblie_inner {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 30px 15px;

                .back_btn {
                    width: 40px;
                    height: 40px;
                    border-radius: 15px;
                    background-color: transparent;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid var(--black400);
                        background-color: var(--black200);
                    }

                    svg {
                        vertical-align: middle;
                        font-size: 2.2rem;
                        color: var(--white);
                    }
                }
                .search_form {
                    width: 100%;
                    position: relative;

                    .search_input {
                        width: 100%;
                        padding: 10px 20px;
                        border-radius: 30px;
                        border: 1px solid var(--black300);
                        outline: 0 none;
                        font-size: 1.6rem;
                        color: var(--white);
                        background-color: #111;
                    }
                    .search_btn {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        padding: 7px 20px 7px 25px;
                        transform: translateY(-50%);
                        border-radius: 0 30px 30px 0;
                        border: 1px solid var(--black300);
                        font-size: 2rem;
                        color: var(--white);
                        background-color: var(--black100);
                        cursor: pointer;
                    }
                }
            }
            @include mobile {
                display: block;
            }
            @include s_mobile {
                display: block;
            }
        }
    }
}
