#home {
    width: 100%;
    height: 100vh;
    padding-top: 64px;
    background-color: var(--black);

    .home {
        width: 100%;
        height: 100%;
        
        .home_contents {
            width: 100%;
            height: 100%;
        }
    }
}