#home {
    width: 100%;
    height: 100vh;
    padding-top: 64px;
    background-color: var(--black);
    font-family: var(--mainEng-font);

    .home {
        width: 100%;
        height: 100%;
        padding: 30px;

        .loading_spinner {
            width: 100%;
            display: none;

            .spinner_icon {
                display: block;
                padding-top: 5px;
                text-align: center;
                font-size: 1.6rem;
                animation: spin infinite linear 1s;

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
            &.active {
                display: block;
            }
        }

        .home_contents {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .contents_area {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .video_card {
                    width: 24%;
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto 50px;

                    .video_thumbnail {
                        width: 100%;
                        height: 200px;
                        border-radius: 10px;
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                    .video_info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        .video_details {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            padding: 15px 0 5px;

                            .video_brand_logo {
                                width: 30px;
                                height: 30px;
                                margin-right: 15px;
                                border-radius: 50px;
                                background-color: aqua;
                            }
                            .video_title {
                                width: 80%;
                                display: -webkit-box;
                                overflow: hidden;
                                white-space: wrap;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                font-size: 1.6rem;
                                font-weight: 600;
                            }
                        }
                        .video_channel {
                            margin-left: 45px;
                            font-size: 1.4rem;
                            font-weight: 500;
                            color: var(--black500);
                        }
                    }
                }
            }
            .shorts_area {
                width: 100%;
                padding: 50px 0;
                display: flex;
                flex-direction: column;

                .shorts_area_title {
                    font-size: 2.2rem;
                    font-weight: 600;
                    margin-bottom: 20px;

                    .shorts_icon {
                        padding-right: 10px;
                        font-size: 1.8rem;

                        svg {
                            transform: rotate(340deg);
                        }
                    }
                }
                .shorts_container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    padding-bottom: 30px;
                    border-bottom: 1px solid var(--black300);

                    .shorts_card {
                        width: 15.3333%;
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto 30px;

                        .shorts_thumbnail {
                            width: 100%;
                            height: 360px;
                            border-radius: 10px;
                            background-color: rgba(255, 255, 255, 0.3);
                        }
                        .shorts_info {
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            .shorts_title {
                                width: 80%;
                                display: -webkit-box;
                                margin: 15px 0 5px;
                                overflow: hidden;
                                white-space: wrap;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                font-size: 1.6rem;
                                font-weight: 600;
                            }
                            .shorts_views {
                                font-size: 1.4rem;
                                font-weight: 500;
                                color: var(--black500);
                            }
                        }
                    }
                    .more_btn {
                        width: 300px;
                        position: absolute;
                        bottom: -21.5px;
                        left: 50%;
                        padding: 4px 0px;
                        transform: translateX(-50%);
                        transition: all 0.2s ease-in;
                        border-radius: 30px;
                        border: 1px solid var(--black300);
                        text-align: center;
                        font-size: 1.6rem;
                        color: var(--white);
                        background-color: var(--black);
                        cursor: pointer;

                        .arrow_down {
                            font-size: 2rem;
                            padding-left: 5px;

                            svg {
                                vertical-align: middle;
                            }
                        }
                        &:hover {
                            background-color: var(--black300);
                        }
                    }
                }
            }
        }
    }
}
