#home {
    width: 100%;
    height: 100%;
    padding: 64px 0 0 260px;
    background-color: var(--bgColor);
    font-family: var(--mainEng-font);

    &.resize {
        padding-left: 0;

        @include s_mobile {
            padding-left: 0;
        }
    }

    .home {
        width: 100%;
        height: 100%;
        padding: 30px;

        @include labtop {
            padding: 26px;
        }
        @include tablet {
            padding: 24px 6px 24px 24px;
        }
        @include mobile {
            padding: 15px;
        }
        @include s_mobile {
            padding: 15px;
        }

        .home_contents {
            width: 100%;
            height: 100%;

            .contents_area {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 5rem 1.5rem;

                @media all and (max-width: 1484px) {
                    grid-template-columns: repeat(3, 1fr);

                    .card16 {
                        display: none;
                    }
                }
                @media all and (max-width: 958px) {
                    grid-template-columns: repeat(2, 1fr);

                    .card16 {
                        display: block;
                    }
                }
                @include mobile {
                    grid-template-columns: 1fr;
                }

                .video_card {
                    width: 100%;
                    height: 100%;

                    .video_link {
                        width: 100%;
                        display: grid;
                        grid-template-rows: auto 1fr;
                        color: var(--white);

                        .video_thumbnail {
                            width: 100%;
                            height: 100%;

                            .thumbnail_img {
                                border-radius: 10px;
                                object-fit: cover;
                            }
                        }
                        .video_info {
                            width: 100%;

                            .video_details {
                                width: 100%;
                                display: grid;
                                grid-template-columns: auto 1fr;
                                padding: 15px 0 5px;

                                @include mobile {
                                    padding-bottom: 0;
                                }

                                .video_brand_logo {
                                    width: 30px;
                                    height: 30px;
                                    margin-right: 15px;
                                    border-radius: 50px;
                                    background-color: var(--white);
                                }
                                .video_title {
                                    width: 100%;
                                    display: -webkit-box;
                                    overflow: hidden;
                                    white-space: wrap;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    font-size: 1.6rem;
                                    font-weight: 600;
                                }
                            }
                            .video_channel {
                                margin-left: 45px;
                                font-size: 1.4rem;
                                font-weight: 500;
                                color: var(--black500);
                            }
                        }
                    }
                }
            }
        }
    }
}

.loading_spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0 0 260px;
    background-color: var(--bgColor);

    &.resize {
        padding-left: 0;

        @include s_mobile {
            padding-left: 0;
        }
    }

    .spinner_icon {
        width: auto;
        display: block;
        margin-top: 50px;
        text-align: center;
        font-size: 2rem;
        animation: rotate infinite 2s linear;

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
