:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "Noto Sans KR";

    --black: #000;
    --black100: #222;
    --black200: #333;
    --black300: #444;
    --black400: #555;
    
    --white: #fff;
    
    // 폰트 셋팅
    font-family: var(--mainKor-font), var(--mainEng-font);
    line-height: 1.5;
    font-weight: 400;
    
    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}